/*.layout-box, .outlet-container {*/
/*    flex: 1;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/
html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
}

.layout-box {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.outlet-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}
